@import "tailwindcss";

@layer base {
  body {
    font-family: Arial, sans-serif;
  }
}

@keyframes pulse-opacity {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
